<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connect PnP</title>
</head>
<body>
<img src="/files/avatar/connectPnP-Sample.jpeg">
  <h1> Connect PnP</h1>
  <h3>Welcome! <%= data %> </h3>
</body>
</html>